<div class="card margin-bottom-half">
  <div class="row">
    <div class="col-md-6">
      <h3>{{title}}</h3>
    </div>
    <div class="col-md-6 text-right">
      <h5>Hello, {{currentUser.email}}</h5>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <table class="card boxes-table" *ngIf="hasBoxes">
        <thead>
          <tr>
            <th>Box Name</th>
            <th>Responses</th>
            <th>Status</th>
            <th>Preview/Link</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let box of boxes; let idx = index;">
            <td><a routerLink="/boxes/{{box._id}}">{{box.name}}</a></td>
            <td>
              <a routerLink="/boxes/{{box._id}}">{{box.responses.length}} Responses</a>
              <small class="block" *ngIf="ifResponse(box)"><em>Latest on {{getLatestResponse(box)}}</em></small>
            </td>
            <td><span [ngClass]="{'status-open': boxOpen, 'status-closed': boxClosed}">{{box.status}}</span></td>
            <td><a routerLink="/boxes/{{box._id}}/share" class="btn btn-default btn-xs">Get Link</a></td>
            <td class="actions">
              <a routerLink="/boxes/{{box._id}}/edit" class="btn btn-primary btn-xs">Edit</a>
              <button (click)="deleteBox(box._id, idx)" class="btn btn-danger btn-xs">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="card" *ngIf="hasBoxes != true">
        <h4>No Boxes Available</h4>
        <p>Would you like to create a new box?</p>
        <a routerLink="/boxes/new" class="btn btn-primary">Create Box</a>
      </div>

      <div class="card margin-top-half">
        <h4>App Update</h4>
        <p>At this time, only one box is allowed for demo purposes.</p>
      </div>

    </div>
  </div>
</div>
