<div class="card margin-bottom-half">
  <div class="row">
    <div class="col-md-6">
      <h3>Create Box</h3>
    </div>
    <div class="col-md-6 text-right">
      <h5>Hello, {{currentUser.email}}</h5>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">

      <div class="card margin-top-half">

        <!-- LOGIN FORM -->
        <form (ngSubmit)="onSubmit(newBoxForm.value)" #newBoxForm="ngForm">
            <div class="form-group">
              <label for="name">Box Name</label>
              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="boxTitle" required>
            </div>
            <div class="form-group">
              <label for="details">Box Details</label>
              <textarea class="form-control" rows="5" id="details" name="details" [(ngModel)]="boxDetails" required></textarea>
              <span class="user-assist"><sup>*</sup> Let people know the response you expect.</span>
            </div>

            <button class="btn btn-warning" (click)="cancelNewBox(newBoxForm)">Don't Save</button>
            <button type="submit" class="btn btn-primary">Create Box</button>
        </form>

      </div>

    </div>
  </div>
</div>
