<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 hero-bg">
      <div class="hero">
        <img src="{{heroImgUrl}}" class="hero-img">
        <div class="hero-info">
          <h3>Anonymous feedback to jumpstart your ideas!</h3>
          <p>
            Anonybox is an online suggestion box to generate feedback that help your ideas grow!
            <a routerLink="/signup" class="btn btn-primary btn-lg home-action">Create Your Box For Free</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9 action-bar">
      <div class="action-bar-text">
        <h2>100% Anonymous. Completely Free. Get Feedback From Anywhere.</h2>
        <p><em>Get anonymous feedback to quickly implement ideas or solve minor issues before they become major issues.</em></p>
      </div>
    </div>
    <div class="col-md-3 action-bar">
      <div class="action-bar-btn text-right">
        <a routerLink="/signup" class="btn btn-primary btn-lg home-action">Create Your Box For Free</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 feature-header margin-top margin-bottom">
      <h2>Features</h2>
      <p>Making it easy to find out what's on people's mind!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 feature-content anonymous">
      <span class="glyphicon glyphicon-user icon" aria-hidden="true"></span>
      <h4>100% Anonymous</h4>
      <p>You'll hear the truth, because your respondents know their identity is protected.</p>
    </div>
    <div class="col-md-4 feature-content private">
      <span class="glyphicon glyphicon-lock icon" aria-hidden="true"></span>
      <h4>Private and Restricted</h4>
      <p>You'll hear the truth, because your respondents know their identity is protected.</p>
    </div>
    <div class="col-md-4 feature-content easy">
      <span class="glyphicon glyphicon-star icon" aria-hidden="true"></span>
      <h4>Fast &amp; Easy</h4>
      <p>You'll hear the truth, because your respondents know their identity is protected.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 section-footer text-center">
      <footer></footer>
    </div>
  </div>

</div>
