<div class="card margin-top submitted-response">

  <h3>Message Sent Anonymously!</h3>

  <p>Your message has been delivered anonymously. Thank you for using AnonyBox!</p>

  <a routerLink="/faqs" class="btn btn-default">Read our FAQS</a>

</div>
