<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">

      <!-- RESPONSE FORM -->
      <form (ngSubmit)="onSubmit(responseForm.value)" #responseForm="ngForm" class="card margin-top" ngNativeValidate>

        <!-- <h3>{{anonyBox.name}}</h3> -->
        <h3>{{anonyBox.details}}</h3>

        <h6 class="box-details"></h6>

        <div class="form-group">
          <label for="subject">Answer Subject</label>
          <input type="text" class="form-control" id="subject" name="subject" [ngModel]="suggestion.subject">
        </div>
        <div class="form-group">
          <label for="message">Answer Details</label>
          <textarea class="form-control" id="message" name="message" [ngModel]="suggestion.message" required rows="5">
          </textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>

    <div class="col-md-4">
      <div class="card margin-top">
        <h3>How does this work?</h3>
        <p>Please submit you anonymous feedback by completing the form. Your feedback is completely anonymous and no identifying information will be sent with your submission.</p>
      </div>

      <div class="card margin-top">
        <h3>May I get a box?</h3>
        <p>Absolutely! All you need to do is create an account and you will be off and running.</p>
        <a href="{{appDomain}}signup" class="btn btn-warning">Create My Box</a>
      </div>
    </div>
  </div>
</div>
