<div class="card margin-bottom-half">
  <div class="row">
    <div class="col-md-6">
      <h3>{{title}}</h3>
    </div>
    <div class="col-md-6 text-right">
      <h5>Hello, {{currentUser.email}}</h5>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">

      <div *ngIf="!hasResponse &amp;&amp; !shareBox">
        <div class="card">
          <h4>No responses are available</h4>
          <p>Please make sure to share this box so people may find it!</p>
        </div>
      </div>

      <div *ngIf="shareBox || !hasResponse">
        <div class="card margin-top-half">
          <h4>Share this box!</h4>
          <input type="text" value="{{boxUrl}}" class="link-input margin-bottom-half">
          <p>Send the link above to anyone who needs to provide input.</p>
          <a routerLink="/dashboard" class="btn btn-warning">Back To Dashboard</a>
        </div>
      </div>

      <div *ngIf="hasResponse  &amp;&amp; !shareBox">
        <div class="card margin-bottom-half">
          <div class="row">
            <div class="col-md-6">
              <a routerLink="/dashboard" class="btn btn-warning">Back To Dashboard</a>
            </div>
            <div class="col-md-6">
              <strong class="inline-block">Total Responses: {{responseCount}}</strong>
            </div>
          </div>
        </div>
        <div *ngFor="let result of suggestions" class="card margin-bottom-half">
          <div class="row">
            <div class="col-md-6">
              <h4 class="subject">{{result.subject}}</h4>
            </div>
            <div class="col-md-6">
              <p class="date"><em>Received on {{formatDate(result)}}</em></p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 message-container">
              <p class="message">{{result.message}}</p>
              <!-- <a href="javascript:void(0)" class="btn btn-danger btn-xs">Delete</a> -->
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
