<div class="container">

  <div class="col-sm-6 col-sm-offset-3">

    <div class="card margin-top">

      <h2>Create a box</h2>

      <!-- show any messages that come back with authentication -->
      <!-- <div class="alert alert-danger">Messages</div> -->

      <!-- LOGIN FORM -->
      <form (ngSubmit)="onSubmit(signupForm.value)" #signupForm="ngForm" ngNativeValidate>
        <div class="form-group">
            <label for="email">Box Name</label>
            <input type="text" class="form-control" id="boxname" name="boxname" [ngModel]="data.boxname" autofocus required oninvalid="this.setCustomValidity('Box name cannot be empty.')" oninput="this.setCustomValidity('')">
        </div>
          <div class="form-group">
              <label for="email">Email</label>
              <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control" id="email" name="email" [ngModel]="data.email" required oninvalid="this.setCustomValidity('Email must be a valid address.')" oninput="this.setCustomValidity('')">
          </div>
          <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" [ngModel]="data.password" required oninvalid="this.setCustomValidity('Password cannot be blank.')" oninput="this.setCustomValidity('')">
          </div>

          <button type="submit" class="btn btn-warning">Create</button>
      </form>

      <hr>

      <p>Have an account? <a routerLink="/login">Login</a></p>

    </div>

  </div>

</div>
