<div class="card margin-bottom-half">
  <div class="row">
    <div class="col-md-6">
      <h3>{{title}}</h3>
    </div>
    <div class="col-md-6 text-right">
      <h5>Hello, {{currentUser.email}}</h5>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">

      <div class="card margin-top-half">

        <!-- LOGIN FORM -->
        <form (ngSubmit)="onSubmit(editAccountForm.value)" #editAccountForm="ngForm">
          <div class="form-group">
            <label for="name">Email</label>
            <input type="text" class="form-control" id="newEmail" name="newEmail" [(ngModel)]="user.newEmail" required>
          </div>
          <div class="form-group">
            <label for="name">Password</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword" [(ngModel)]="user.newPassword" required>
          </div>
          <div class="form-group">
            <label for="name">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="user.confirmPassword" required>
          </div>

          <button class="btn btn-warning" (click)="cancelEdit(editAccountForm)">Don't Save</button>
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>

      </div>

    </div>
  </div>
</div>
