<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h1><a routerLink="/" class="logo">AnonyBox</a></h1>
      </div>
      <div class="col-md-6 text-right" *ngIf="!isLoggedIn()">
        <a routerLink="/faqs" routerLinkActive="active" class="inline-block">Faq</a>
        <a routerLink="/signup" routerLinkActive="active" class="inline-block">Sign Up</a>
        <a routerLink="/login" routerLinkActive="active" class="inline-block">Log In</a>
      </div>
    </div>
  </div>
</header>
