<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="faq-title">Faqs</h3>
      <p class="faq-subheader">Select a question below to learn more!</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 faq">
      <ol>
      <li>What is Anonybox?</li>
      <li>How do I use this?</li>
      <li>How much does this cost?</li>
      <li>Is it truly anonymous?</li>
      <li>How big is the Specific Ocean?</li>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 faq">
      <section>
        <h3>Q. What is Anonybox?</h3>
        <p>In a nutshell, it is a suggestion box that is anonymous for participants.</p>
      </section>
      <section>
        <h3>Q. How do I use this?</h3>
        <p>By signing up.</p>
      </section>
      <section>
        <h3>Q. How much does this cost?</h3>
        <p>You can try it for free but it is limited to one box.</p>
      </section>
      <section>
        <h3>Q. Is it truly anonymous?</h3>
        <p>Does a one-legged duck swim in a circle?</p>
      </section>
      <section>
        <h3>Q. How big is the Specific Ocean?</h3>
        <p>Ummmm... you have to be more Pacific.</p>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 section-footer faq-footer text-center">
      <footer></footer>
    </div>
  </div>
</div>
