<div id="sidebarnav" class="sidebarnav">
  <ul class="sidenav">
    <li><a routerLink="/dashboard">My Boxes</a></li>
    <li><a routerLink="/user/edit">My Account</a></li>
    <li><a href="javascript:void(0)" (click)="signOut()">Sign Out</a></li>
  </ul>
</div>
