/*-----------------
In this file
-------------------
:Imports
:Variables & Mixins
:Defaults
:Header
:Hero
:Home
:Faq
:Sidebar
:Main
:Card
:Boxes Table
:Responses
:Footer
:Helpers
*/

/*-------------------
:Imports
-------------------*/
@import 'node_modules/ngx-toastr/toastr';

/*-------------------
:Variables & Mixins
-------------------*/
$white: #fff;
$black: #000;
$red: #EC644B;
$green: #66CC99;
$grey: #E0E0E0;
$dark-grey: #333333;
$orange: #EB9532;
$body-bg: #f2f2f2;
$header-bg: #1E8BC3;
$footer-bg: #252525;
$placeholder: #aaa;

@mixin v-center($value) {
  position: relative;
  top: $value;
  transform: translateY(-$value);
}

/*-------------------
:Defaults
-------------------*/
html {
  font-size: 62.5%;
}
body {
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'Droid Sans', sans-serif;
  background: $body-bg;
}
#wrapper {
  overflow: hidden;
  height: 100%;
}
img {
  width: 100%;
  height: auto;
}
input[type="text"].form-control.ng-invalid.ng-touched,
input[type="text"].form-control.ng-invalid.ng-touched:focus,
input[type="email"].form-control.ng-invalid.ng-touched,
input[type="email"].form-control.ng-invalid:focus,
input[type="password"].form-control.ng-invalid.ng-touched,
input[type="password"].form-control.ng-invalid.ng-pristine:focus {
  border: 1px solid #F75C4C;
  box-shadow: 0 0 8px rgba(247, 92, 76, .4);
}

/*-------------------
:Header
-------------------*/
header {
  padding: 15px 0;
  margin-bottom: 0;
  background: $header-bg;
  position: fixed;
  z-index: 1;
  width: 100%;

  h1 {
    margin: 0;
    color: $white;
  }

  a {
    color: $white;
    text-transform: uppercase;
    padding: 10px;
    margin-top: 1px;

    &:hover,
    &:active,
    &:visited,
    &.active {
      background: rgba(255,255,255,.25);
      border-radius: 5px;
      text-decoration: none;
      color: $white;
    }

    &.logo {
      background: none;
      border-radius: 0;
      text-decoration: none;
    }
  }

  @media screen and (max-width: 991px) {
    a {display: none !important;}
    a.logo {display: inline !important;}
  }
}

/*-------------------
:Hero
-------------------*/
.hero-bg {
  background: $white;
}
.hero {
  //background: $white url('assets/images/anonymous-user.jpg') no-repeat scroll center 20px;
  position: relative;
  width: 100%;

  .hero-img {

  }

  .hero-info {
    background: rgba(0,0,0,.5);
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 300px;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -400px;

    @media screen and (max-width: 840px) {
      left: 0;
      margin-left: 0;
    }

    @media screen and (max-width: 752px) {
      top: 10%;
    }

    h3 {
      color: $white;
      text-transform: uppercase;
      text-align: center;
      font-size: 3.0rem;
      font-size: 30px;
      padding: 15px 0;

      @media screen and (max-width: 752px) {
        font-size: 22px;
        font-size: 2.2rem;
      }

      @media screen and (max-width: 586px) {
        font-size: 20px;
        font-size: 2.0rem;
      }
    }

    p {
      color: $white;
      text-align: center;
      font-size: 2.6rem;
      font-size: 26px;
      padding: 0;
      margin: 0 90px;

      @media screen and (max-width: 752px) {
        font-size: 18px;
        font-size: 1.8rem;
      }

      @media screen and (max-width: 535px) {
        padding: 0;
        margin: 0 10px;
      }

      .btn-primary {
        margin: 48px auto 0;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
  }
}

/*-------------------
:Home
-------------------*/
.action-bar {
  background: $grey;
  margin-top: 0;
  margin-bottom: 0;

  .action-bar-text {
    padding-bottom: 1px; /* Mainly to set height equal to action-bar-btn for desktop */

    p {
      font-size: 18.5px;
      font-size: 1.85rem;
    }

    @media screen and (max-width: 991px) {
      h2 {
        margin: 0;
        padding-top: 20px;
        padding-bottom: 10px;
      }
    }

    @media screen and (max-width: 752px) {
      h2 {
        font-size: 24px;
        font-size: 2.4rem;
      }
      p {
        font-size: 16px;
        font-size: 1.6rem;
      }
    }
  }

  .action-bar-btn {
    height: 100px;

    @media screen and (max-width: 1264px) {
      height: 126px;
    }

    @media screen and (max-width: 1260px) {
      height: 159px;
    }

    @media screen and (max-width: 991px) {
      text-align: left !important;
      height: auto;
      padding: 30px 0 0;
    }
  }

  .home-action {
    @include v-center(50%)
  }
}

.feature-header {
  position: relative;
  text-align: center;

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    height: 2px;
    width: 50px;
    margin-left: -25px;
    margin-top: 10px;
    background: #ddd;
  }

  h2 {
    margin-bottom: 0;
  }
}

.feature-content {
  padding-left: 80px;
  position: relative;

  span.icon {
    position: absolute;
    top: 25%;
    left: 5%;
    font-size: 36px;
    font-size: 3.6rem;
    color: $orange;
  }

  @media screen and (max-width: 991px) {
    margin: 20px 0;
    padding-left: 60px;

    span.icon {
      left: 15px;
      font-size: 25px;
      font-size: 2.5rem;
    }
    h4 {
      margin-bottom: 4px;
    }
  }
}


/*-------------------
:Faq
-------------------*/
.faq-title {
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 10px;
}

.faq-subheader {
  margin-bottom: 40px;
}

.faq {
  background: $white;

  ol {
    padding-left: 15px;
    margin-top: 40px;
    margin-bottom: 0;
    padding-bottom: 30px;
    border-bottom: solid 1px $body-bg;

    li{
      margin: 10px 0;
      font-weight: bold;
    }
  }

  section {
    border-top: solid 1px $body-bg;
    padding-top: 40px;
    margin-bottom: 40px;

    &:first-child {
      border-top: none;
    }

    h3 {
      margin: 0;
      margin-bottom: 20px;
    }

    p {
      margin: 0;
    }
  }
}

/*-------------------
:Sidebar
-------------------*/
.sidebarnav {
  height: 100%;
  width: 225px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: $dark-grey;
  overflow-x: hidden;
  margin-top: 69px;
  transition: 0.5s;
}

.sidenav {
  padding: 0;
  margin: 10px 0 0;

  li {

    a {
      padding: 10px 15px;
      text-decoration: none;
      font-size: 16px;
      font-size: 1.6rem;
      color: #818181;
      display: block;
      transition: 0.3s;

      &:hover,
      &.offcanvas a:focus {
        color: $white;
      }
    }
  }
}

/*-------------------
:Main
-------------------*/
main {
  transition: margin-left .5s;
  padding: 0;
  margin-top: 69px;

  &.leftPadding {
    padding-left: 225px;
  }
}

/*-------------------
:Card
-------------------*/
.card {
  background: $white;
  padding: 15px;
  width: 100%;

  h3 {
    margin: 0;
  }

  .link-input {
    padding: 10px 6px;
    width: 50%;
  }

  .subject {
    margin-top: 0;
  }
  .date {
    color: $placeholder;
  }
.message-container {
  border-top: solid 1px $body-bg;
  padding-top: 10px;

  .message {

  }
}
}

/*-------------------
:Boxes Table
-------------------*/
.boxes-table {
  border-collapse: separate;

  th,td {
    padding: 6px;
  }

  td {
    border-top: solid 1px $grey;

    &.actions {
      .btn-danger {
        background-color: $red;
      }
    }
  }

  tfoot strong {
    margin-top: 10px;
  }

  .actions {
    margin: 0 5px;
  }

  .status-open {
    color: $green;
  }

  .status-closed {
    color: $red;
  }
}

/*-------------------
:Responses
-------------------*/
.box-details {
  text-transform: uppercase;
}

.submitted-response {
  width: 550px;
  position: absolute;
  top: 15%;
  left: 50%;
  margin-left: -275px;
  text-align: center;
}

/*-------------------
:Footer
-------------------*/
.section-footer {
  height: 120px;
  padding-top: 20px;
  margin: 60px 0 0;
  background: $footer-bg;

  &.faq-footer {
    margin: 0;
  }

  h4,h6,a {
    color: $white;
  }

  h4 a {
    text-transform: uppercase;
  }
}

/*-------------------
:Helpers
-------------------*/
.text-right { text-align: right; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.inline-block { display: inline-block; }
.block { display: block; }
.margin-top { margin-top: 40px; }
.margin-top-half { margin-top: 20px; }
.margin-bottom { margin-bottom: 40px; }
.margin-bottom-half { margin-bottom: 20px; }
.margin-left-auto { margin-left: auto; }
.margin-right-auto { margin-right: auto; }
.padding-right-half { padding-right: 20px; }
.user-assist { color: $placeholder; }
